* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    background-color: #000;
    color: #fff;
}
.wrapper {
    max-width: 940px;
    margin: 0 auto;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}

#hero {
    height: 600px; 
    background-image: url(/images/hands-typing.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(70%);
    display: flex;
    justify-content: center; 
    align-items: center;
}
h1 {
    max-width: 60%;
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 3rem;
    text-align: center;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}
#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3em;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}
#services {
    background-color: #fafafa; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
