* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

img {
    width: 100%;
}

header {
    padding: 1em;
    background-color: #000;
    color: #fff;
}
.wrapper {
    max-width: 940px;
    margin: 0 auto;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}

#hero {
    height: 600px; 
    background-image: url(../images/hands-typing.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(70%);
    display: flex;
    justify-content: center; 
    align-items: center;
}
h1 {
    max-width: 60%;
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 3rem;
    text-align: center;
}

#about-me .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
#about-me .wrapper img {
    width: 300px;
}
#about-me .wrapper :nth-child(1) {
    align-self: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
#services .wrapper {
    background-color: #fafafa;
    padding: 2rem;
}
#services .wrapper h2 {
    max-width: 500px;
    justify-self: center;
}
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.services-grid article {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-start;
    padding: 1em;
}
.services-grid a {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 1em;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    margin-top: auto;
}
.services-grid a:hover {
    background-color: #fff;
    border-color: #000;
    color: #000;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

#work .wrapper h2 {
    max-width: 500px;
    justify-self: center;
}
#work .wrapper p {
    max-width: 650px;
    justify-self: center;
}

#work .img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "div1 div1 div1 div2 div2 div2"
    "div3 div3 div4 div4 div5 div5";
}

.img-grid img:nth-child(1) {
   
    grid-area: div1;
}
.img-grid img:nth-child(2) {
    
    grid-area: div2;
}
.img-grid img:nth-child(3) {
    
    grid-area: div3;
}
.img-grid img:nth-child(4) {
    
    grid-area: div4;
}
.img-grid img:nth-child(5) {
   
    grid-area: div5;
}



footer {
    padding: 1em;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}